<?xml version="1.0" encoding="UTF-8"?>
<Resource
    name="jdbc/shopaholics"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="100"
    maxIdle="30"
    maxWait="10000"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/shopaholics"
    username="root"
    password="13wh1a0507"
    />