<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shopaholics_pluto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>cartsession.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
  <description>
    Resource reference to a factory for java.sql.Connection
    instances that may be used for talking to a particular
    database that is configured for the web application.
  </description>
  <res-ref-name>jdbc/shopaholics</res-ref-name>
  <res-type>
    javax.sql.DataSource
  </res-type>
  <res-auth>
    Container
  </res-auth>
</resource-ref>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.shopaholics.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.shopaholics.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.shopaholics.filters.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/LoginCheckFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SellerController</display-name>
    <servlet-name>SellerController</servlet-name>
    <servlet-class>com.shopaholics.controller.SellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerController</servlet-name>
    <url-pattern>/seller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.shopaholics.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerLController</display-name>
    <servlet-name>SellerLController</servlet-name>
    <servlet-class>com.shopaholics.controller.SellerLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerLController</servlet-name>
    <url-pattern>/SellerLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>com.shopaholics.controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopaholicsLog</display-name>
    <servlet-name>ShopaholicsLog</servlet-name>
    <servlet-class>com.shopaholics.controller.ShopaholicsLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopaholicsLog</servlet-name>
    <url-pattern>/ShopaholicsLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLController</display-name>
    <servlet-name>DeleteLController</servlet-name>
    <servlet-class>com.shopaholics.controller.DeleteLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLController</servlet-name>
    <url-pattern>/DeleteLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLController</display-name>
    <servlet-name>UpdateLController</servlet-name>
    <servlet-class>com.shopaholics.controller.UpdateLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLController</servlet-name>
    <url-pattern>/UpdateLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDisplayController</display-name>
    <servlet-name>ItemDisplayController</servlet-name>
    <servlet-class>com.shopaholics.controller.ItemDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDisplayController</servlet-name>
    <url-pattern>/ItemsDisplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListController</display-name>
    <servlet-name>CartListController</servlet-name>
    <servlet-class>com.shopaholics.controller.CartListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListController</servlet-name>
    <url-pattern>/CartListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListDelController</display-name>
    <servlet-name>CartListDelController</servlet-name>
    <servlet-class>com.shopaholics.controller.CartListDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListDelController</servlet-name>
    <url-pattern>/CartListDelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.shopaholics.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserUpdateController</display-name>
    <servlet-name>UserUpdateController</servlet-name>
    <servlet-class>com.shopaholics.controller.UserUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateController</servlet-name>
    <url-pattern>/UserUpdateController</url-pattern>
  </servlet-mapping>
</web-app>